<div class='row'>
  {{#each model as |tag|}}
    {{tag-card tag}}
  {{/each}}
</div>
{{#infinity-loader infinityModel=model}}
  <div class='content'>
    <div class="preloader-wrapper active">
      <div class="spinner-layer spinner-teal">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
{{/infinity-loader}}
