// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles

@import "ember-cli-materialize";
@import "materialize";

h6 {
  font-size: 1.3rem;
}
.nav-wrapper {
  .brand-logo {
    padding-left: 15px;
  }
}
.card.horizontal .card-image img {
  height: 80px;
}
.padded {
  margin: 20px;
}
.card {
  min-height: 30rem;
  .sub-link {
    color: #f48fb1 !important;
  }
}
.btn {
  padding: 0 1.2rem;
}
.infinity-loader {
  &.reached-infinity {
    display: none;
  }
}
