{{#each model as |contributor|}}
  <div class="col card horizontal padded">
    <div class="card-image">
      <img src={{contributor.avatar_url}}>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Contributions: {{contributor.contributions}}</p>
      </div>
      <div class="card-action">
        <a href={{contributor.html_url}}>Github</a>
      </div>
    </div>
  </div>
{{/each}}
